.login-page {
    background: url("../../assets/bg-home.png");
    background-position: center;
    background-size: cover;
    background-color: #533d67;
    background-blend-mode: soft-light;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    position: relative;
}

.loading-top {
    position: absolute;
    top: 16px;
    right: 16px;
}

@media (min-width: 768px) {
    .login-page {
        width: 768px;
    }
}

.login-page img {
    margin-top: 30px;
}

.login-page h2 {
    color: #fff;
    margin-bottom: 48px;
    margin-top: 42px;
    font-size: 20px;
}

.login-page .signin-form {
    width: 100%;
}

.login-page form input {
    height: 53px;
    border-color: rgba(255, 255, 255, 0.6);
    border-width: 2px;
    border-radius: 12px;
    margin: 10px 0;
    padding: 0 20px;
    color: rgba(255, 255, 255, 1);
    background: transparent;
    display: block;
    width: 100%;
}

.login-page form input::placeholder {
    color: #fff;
}

.login-page form button {
    border-radius: 12px;
    margin-top: 10px;
    background-color: #fff;
    border-color: #979797;
    border-width: 1px;
    width: 100%;
    height: 53px;
    color: rgba(79, 58, 109, 1);
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    display: block;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.login-page form button:hover {
    background: #eee;
}

.login-page > p {
    position: absolute;
    bottom: 16px;
    color: #fff;
    opacity: 1;
    transition: 0.2s all ease-in-out;
}

.login-page > p.not-fixed {
    opacity: 0;
}

.login-page > p a,
.login-page > p a:visited {
    color: #fff;
}