.ansiety-link {
    text-align: center;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 2px 6.62px rgba(0,0,0,0.08);
}
.ansiety-link img {
    width: 43px;
    height: 43px;
    margin-bottom: 10px;
}
.ansiety-link h4 {
    font-size: 14px;
    color: #4F3A6D;
    margin-bottom: 6px;
    text-align: center;
}

.ansiety-link button {
    color: #739C23;
    background: #D0E2AD;
    font-size: 13px;
    height: 38px;
    border-radius: 19px;
    width: 85%;
    padding: 0 16px;
}

.ansiety-link.al-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ansiety-link.al-row  img {
    margin-bottom: 0;
}

.ansiety-link.al-row  h4 {
    text-align: left;
    margin: 0;
    margin-left: 15px;
    font-size: 16px;
    display: inline-block;
}


.ansiety-link.al-row  button {
    width: auto;
    min-width: 120px;
    margin: 0;
}