@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
  font-family: 'Circular Std Book';
  src: url('./assets/CircularStd-Book.woff2') format('woff2'),
      url('./assets/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin:0;
  padding:0;
  outline:0;
  box-sizing: border-box;
}

hmtl, body, #root {
  min-height: 100vh;
}

body {
  background: #fff no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Circular Std Book', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body * {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  box-shadow: none;
  outline: none;
  border: none;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-container {
  background: #fafafa;
}
 
.stretch {
  align-items: stretch;
}

.column_1-of-2 {
  width: 48%;
}

.column_1-of-3 {
  width: 31%;
}

/* .container {
  margin:80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
} */

.card-white {
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 2px 6.62px rgba(0,0,0,0.08)
}

.content {
  width: 100%;
  background: #FFF;
  /* margin-top: 50px; */
  border-radius: 4px;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 768px;
  box-shadow: 0px 10px 90px rgba(0,0,0,.05);
  /* padding: 30px; */
}

.content .navbar-bottom {
  height: 50px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 2px 35px rgba(0,0,0,0.08);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content .navbar-bottom a {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

@media (min-width: 768px) {
  .content .navbar-bottom {
    width: 768px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content .navbar-bottom a.selected {
  background-color: #D5CCE1;
}

.content .navbar-bottom a img{
  max-width: 23px;
  opacity: 0.3;
}

.content .navbar-bottom a.selected img{
  opacity: 1;
}

.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content > form {
  display: flex;
  flex-direction: column;
}

.react-pdf__Page {
  margin-top: 8px;
}

.download-pdf {
  background: #ECEAEF;
  color: #4F3a6D;
  height: 40px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-bottom: 8px;
  float: right;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

.download-pdf img {
  margin-right: 8px;
}

.full-screen:not(.opened) {
  display: none;
}

.full-screen.opened {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-box {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  max-width: 75vw;
  border-radius: 12px;
}

.notification-box img {
  
}

.notification-box h2 {
  color: #4F3a6D;
  font-size: 22px;
  margin-top: 26px;
  text-align: center;
  font-weight: bold;
}

.notification-box h3 {
  color: #4F3a6D;
  font-size: 24px;
  margin-top: 6px;
  font-weight: normal;
  text-align: center;
}

.notification-box p {
  text-align: center;
  color: #868686;
  font-size: 16px;
  margin-top: 8px;
}

.notification-box .ok-button {
  background: #5B9C00;
  color: #fff;
  margin-top: 24px;
  width: auto;
  padding: 0 16px;
  height: 36px;
  border-radius: 12px;
}

.notification-box .help-button {
  color: #868686;
  background: transparent;
  border-bottom: 1px solid #eee;
  margin-top: 18px;
}
/* .inner-page {
  height: 100vh - 50px;
  overflow: hidden;
} */

/* .content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form label span {
  font-weight: normal;
  color: #999;
  font-size: 12px;
}

.content form input:not([type="radio"]) {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #FFF;
  cursor: pointer;
}

.content button.btn:hover {
  background: #e14f50;
} */